/* Connection.jsx */
#connection{
    margin-top: 70px;
}

.connectionhead h2{
    font-size: 50px;
    font-weight: 600;
}

.emailsoc{
    margin-top: 60px;
    margin-bottom: 60px;
}

.email,.social,.resume{
    background-color: #0f1012;
    text-align: center;
}

/* .emailicon,.socicon,.resumeicon{
    width: ;
    height: ;
} */


.planeicon{
    background-color: rgba(151, 98, 164, 0.35);
    border-radius: 50%;
    i{
        color: #0f1012;
    }
}

.servericon{
    background-color: rgba(98, 164, 148, 0.35);
    border-radius: 50%;
    i{
        color: #0f1012;
    }
}

.fileicon{
    background-color: rgba(145, 130, 107, 1);
    border-radius: 50%;
    i{
        color: #0f1012;
    }
}


.emailhead h2,.sochead h2,.reshead h2{
    font-size: 21px;
    font-weight: 700;
}

.gmail a{
    color: #6562A4;
    font-size: 18px;
    font-weight: 400;
}

.gmail a:hover{
    color: #1572B6;
}

.socicons a{
    text-decoration: none;
    /* transition: transform 4s ease-in-out; */
    i{
        color: #6562A4;
    }
}

.wtsp:hover{
    i{
        background: linear-gradient(45deg, 
    #25D366,  /* WhatsApp green */
    #128C7E   /* Darker green */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
        transform: scale(1.2);
    }
}
.insta:hover{
    i{
        background: linear-gradient(45deg,
        #F58529,
        #FDCB58,
        #FD1D1D, 
        #D6249F, 
        #8134AF, 
        #515BD4  );
        transform: scale(1.2);
        -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
}
.githb:hover{
    i{
        color: #fff;
        transform: scale(1.2);
    }
}
.linkd:hover{
    i{
        color: #0A66C2;
        transform: scale(1.2);
    }
}

.resbtn{
    background-color: #6562A4;
}
.resbtn button{
    color: #0f1012;
    font-size: 17px;
    font-weight: 500;
    background: transparent;
    border: none;
    i{
        color: #0f1012;
    }
}

.resbtn:hover{
    background-color: #91826B;
}
