
/* Media queries */
@media (max-width: 575.98px) {

    /* navbar */
      .navlink{
        padding-left: 10px;
      }

      /* head */
      .dhan h1{
        font-size: 40px;
        font-weight: 800;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .mern h4{
        color: #dcdcdc;
        font-size: 20px ;
        font-weight: 500;
        
      }

      /* About me */

      .dp img{
        height: 7vh ;
      }

      .abouth2 h2{
        
        font-size: 35px ;
        font-weight: 600;
        
      }

      .aboutcontent{
        font-size: 1.15rem ;
        font-weight: 300 ;
      }
    
      /* certifications */

      .mycertihead h2{
        font-size: 35px ;
        font-weight: 600 ;
      }

      .certiname h3{
        font-size: 20px ;
        color: #6562a4;
        font-weight: 500;
      }
      .certi,.certiname{
        margin-top: 30px ;
      }

      .certi{
        gap: 3rem ;
      }
      
      .slno h1,.slno2 h1,.slno3 h1,.slno4 h1{
        font-size: 10rem ;
      }

      .summary p{
        font-size: 1.15rem ;
        
        padding: 0 .5rem 1rem ;
      }

      /* specialization */

      .spzlcards{
        margin-top: 20px ;
      }

      .mysplhead h2{
        color: #ffffff;
        font-size: 35px ;
        font-weight: 600;
      }

      .splcontent span{
        color: #ffffff;
        font-size: 1rem;
        font-weight: 450;
      }

      .card .info button{
        cursor: pointer;
      }

      /* badges */

      #badgesernd{
        margin-top: 40px;
      }

      .badgeshead h2{
        font-size: 35px;
        font-weight: 600;
      }

      .fssdhead h3{
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 1rem;
      }

      .fssdsummary p{
        font-size: 1.15rem;
        font-weight: 300;
      }

      /* projects */

      .projectshead h2{
        font-size: 35px;
        font-weight: 600;
      }

      .projectstypehead{
        margin-top: 20px;
      }

      .projectstypehead h2{
        font-size: 20px;
        font-weight: 500;
      }

      .filtericon i{
        font-size: 1rem;
      }

      .projdescrhead h3{
        font-size: 1.4rem;
        font-weight: 400;
      }

      .moreinfo{
        font-style: italic;
        text-decoration:underline;
        font-size: 1.2rem;
        padding-left: 1.5rem;
      }

      /* skills */
    
      .skillshead h2{
        font-size: 35px;
        font-weight: 600;
      }

      #skills{
        margin-top: 40px;
      }

      .skills{
        margin-top: 40px;
      }
      
      .skillpercent span{
        font-size: 1.4rem;
        font-weight: 500;
        color: #91826B;
      }

      .skillname span{
        font-size: 1.2rem;
        font-weight: 400;
      }

      /* Connection */

      #connection{
        margin-top: 40px;
      }
      
      .connectionhead h2{
        font-size: 35px;
        font-weight: 600;
      }

      .emailsoc{
        margin-block: 40px;
      }

      /* Footer */

      .footer h2{
        font-size: 1.3rem;
        font-weight: 300;
    }
    

}
