/* NavBar.jsx */
.navs .navlink{
    font-size: 18px;
    font-weight: 400;
    color: white;
    /* margin-inline: 50px; */
}

.navtoggle{
    border: none;
    background-color: transparent;
}

.navtoggle .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(101, 98, 164, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navlink:hover{
    color: #6562a4;
}