/* Projects.jsx */
#projects{
    margin-top: 70px;
}

.projectshead h2{
    font-size: 50px;
    font-weight: 600;
}

.projectstypehead{
    margin-top: 50px;
}

.projectstypehead h2{
    font-size: 34px;
    color: #6562a4;
    font-weight: 500;
}

.filtericon{
    background:transparent;
    overflow: hidden;

}

.filtericon i{
    color: #6562a4;
}

.filterdropdown{
    background-color: #6562a42a;
    color: black;
}

.filterdropdown select{
    color: rgb(250, 250, 250);
    border: none;
    /* width: 100%;
    height: 100%; */
    appearance:none;
    font-weight: 500;
    overflow: hidden;
}

.filterdropdown select:focus{
    border: none;
    outline: none;    
    
}

.filterdropdown select option{
    color: black;
    background-color: #ffffff;
}

.project{
    margin-top: 50px;
}

/* .projectimg img{
    border-radius: 30px;
} */

.projectimg iframe{
    border-radius: 20px;
    /* border: 2px solid black; */
    height: 40vh;
    overflow: hidden;
}

.projdescrhead h3{
    font-size: 30px;
    font-weight: 500;
    padding-left: 20px;
}

.controls{
    padding-right: 1rem;
}



.projdescription span{
    font-weight: 500;
}

.moreinfo{
    font-style: italic;
    text-decoration:underline;
    font-size: 20px;
    font-weight: 300;
    padding-left: 1.5rem;
}

.fa-caret-down{
    color: #6562A4;
}
.fa-caret-up{
    color: #6562A4;
}

.fa-eye{
    color: #6562A4;
}
.fa-github{
    color: #ffffff;
}

.fa-eye:hover{
    color: #6562a482;
}
.fa-github:hover{
    color:#ffffff9e
}
