/* Skills.jsx */
#skills{
    margin-top: 70px;
}

.skills{
    margin-top: 60px;
}

.skillshead h2{
    font-size: 50px;
    font-weight: 600;
}

.skillbox{
    background-color: #0f1012;
   
}

.html {
    border-left: 5px solid #E44D26;
    
}
.html i{
    color: #E44D26;
}

.css {
    border-left: 5px solid #1572B6;
    
}
.css i{
    color: #1572B6;
}

.javascript {
    border-left: 5px solid #F7DF1E;
    
}
.javascript i{
    color: #F7DF1E;
}

.bootstrap {
    border-left: 5px solid #7952B3;
    
}
.bootstrap i{
    color: #7952B3;
}

.react {
    border-left: 5px solid #00D8FF;
    
}
.react i{
    color: #00D8FF;
}

.figma {
    border-left: 5px solid #0ACF83;
    
}
.figma i{
    color: #0ACF83;
}

.mongo {
    border-left: 5px solid #47A248;
   
}
.mongo i{
    color: #47A248;
}

.nodjs {
    border-left: 5px solid #339933;
    
}
.nodjs i{
    color: #339933;
}

.express {
    border-left: 5px solid #ffffff;
    
}
.express i{
    color: #ffffff;
}

.github {
    border-left: 5px solid #ffffff;
    
}
.github i{
    color: #ffffff;
}

.skillpercent span{
    font-size: 30px;
    font-weight: 500;
    color: #91826B;
}

.skillname{
    margin-top: .3rem;
}

.skillname span{
    font-size: 25px;
    font-weight: 400;
}
